<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\LoginAsCustomerWebsiteRestriction\Observer\WebsiteRestrictionObserver">
        <plugin name="punchout_loginascustomerwebsiterestriction_websiterestrictionobserverplugin" type="Punchout\LoginAsCustomerWebsiteRestriction\Plugin\WebsiteRestrictionObserverPlugin" />
    </type>
</config>
